{% extends "base.html.twig" %}

{% block title 'Editer un créateur' %}

{% block body %}
<div class="container mt-4">
    <h2>Editer le créateur</h2>
    {{ include ("admin/createur/_form.html.twig", {form: form, button: 'Editer'}) }}
</div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('/assets/js/images.js') }}"></script>
    <script src="{{ asset('/assets/js/select.js') }}"></script>
    <script src="{{ asset('/assets/js/geolocalisation.js') }}"></script>
    <script>
      $("input[type=file]").change(function (e){$(this).next('.custom-file-label').text(e.target.files[0].name);})
    </script>

{% endblock %}


  