{% extends "base.html.twig" %}

{% block title 'Editer un créateur' %}

{% block body %}
<div class="container mt-4">
    <h2>Editer le créateur</h2>
    {{ include ("admin/createur/_form.html.twig", {form: form, button: 'Editer'}) }}
</div>
{% endblock %}



  