{% extends "base.html.twig" %}

{% block title 'Nouveau créateur' %}

{% block body %}
<div class="container mt-4">
    <h2>Créer un nouveau créateur</h2>
    {{ include ("admin/createur/_form.html.twig", {button: 'Créer'}) }}
</div>
{% endblock %}
    