{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col align-center">
                <h1>Bienvenue sur le site des créateurs de Vendée</h1>
                <h6>Les créateurs de Vendée se sont regroupés pour vous facilter la tâche afin que vous puissiez les trouver plus simplement. </h6>  
            </div>
        </div>
    </div>
</div>
<div class="text-center">
    <h1> Les créateurs à la une </h1>
    <hr class="my-4">
    <h5>Il vous suffit de cliquer sur leur vignette pour admirer leur travail et obtenir leur coordonnées</h5>
    </br></br>
<div>
<div classs="container mt-6">
    <div class="row">
        {% for createur in createurs %}
            <div class="col-md-4">
                {% include "createur/_createur.html.twig" %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}